
<div class="m-5">
 <%= flash[:notice]%>
    <h2 class= "text-center">Listing Employees</h2>
</div>
<%= link_to "Create new Emplyee", new_employee_path, class: "btn btn-primary mb-3" %>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Address</td>
            <td>Action </td>
        </tr>
    </thead>
    <tbody>
        <% @employees.each do |employee| %>
        <tr class= "text-center">
            <td><%= employee.full_name %></td>
            <td><%= employee.email %></td>
            <td><%= employee.full_address %></td>
            <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                id="dropdownMenuButton1"  data-bs-toggle="dropdown" aria-expanded="false">
                Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenyButton1" >
                   <li> <%= link_to "Edit", edit_employee_path(employee), class: "dropdown-item" %></li>
                    <li><%= link_to "View", employee_path(employee), class: "dropdown-item" %></li>
                    <li><%= link_to "Delete", employee_path(employee), class: "dropdown-item",
                        method: :delete, data: {confirm: "Are you sure to delete this employee?"}
                    %></li>
                </ul>
            </td>
            </div>
        </tr>
        <% end %>
    </tbody>
</table>
